<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	{% include 'head.html.twig' %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        	{% include 'materialjs.html.twig' %}
        {% endblock %}
    </body>
</html>