<head>
	<title>Prop'Immo</title>
	 <meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link rel="stylesheet" href="/material-kit/assets/css/material-kit.css">
	 <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>